#contents{
	width:100%;
	height:500px;
	padding-bottom:100px;
}
#storybox{
	margin-left:50px;
	margin-bottom: 100px;
}
#title{
	width:140px;
	font-size: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}
#txtarea{
	margin-bottom: 20px;
}
#uploadBtn {  
  opacity: 0;       /*input type="file" tag 투명하게 처리*/
  position: relative;
}
.replace {    /*button tag 에 원하는 스타일 적용*/
  border-radius: 5px;
  width:100px;
  height:23px;
  color:white;
  cursor: pointer;
  background-color: #333;
  border:0;
}
